body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
    background-color: lightblue;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  .container{
    background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
            padding: 20px;
            border-radius: 10px;
            width: 100%;
            max-width: 800px;
            text-align: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            background-color: beige;
  }
  
  input, select, button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #result {
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
    color: #222;
  }